#about{
  height: calc(100vh - 3.5rem);
  background-color: #fcfbf4;
  font-family: "Poppins", sans-serif;
 /* background-image: url("https://www.transparenttextures.com/patterns/ag-square.png"); */
 display: flex;
 justify-content: center;
}

.aboutDetails{
    margin-top: 0.3rem;
    width: 100%;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMeHeading{
    font-size: 2.1rem;
    font-weight: bold;
    padding-bottom: 0;
    
}

.aboutLineBreak button{
     background-color: #64ccc5;
     border-radius: 0.5rem;
     width: 3.6rem;
     height: 0.3rem;
     border: none;
     cursor: text;
}

.aboutMeDescription{
    font-size: 1.3rem;
}

.aboutMeSkillDescription{
    display: flex;
    justify-content: space-around;
    word-spacing:-0.1rem;
    padding-top: 0.6rem;
}
.aboutDescription ,.aboutMeSkills{
    width: 50%;
    font-size: 1.1rem;
    max-width: 40%;
    text-align: justify;
}

.aboutDescriptionHeading,.aboutMeSkillsHeading{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.aboutMeSkillItem{
    padding: 0.6rem;
    border: none;
    font-size: 1rem;
    border-radius: 0.2rem;
    font-weight: 100;
    cursor: text;
   background-color: #e1e2e3;
}

.aboutMeSkillsItems{
    display: flex;
    flex-wrap: wrap;
    gap:0.5rem;
   
}

.aboutSectionContactMeBtn{
  margin-top: 1rem;
  background-color: #64ccc5;
  padding: 0.6rem;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.aboutSectionContactMeBtn:hover{
    background-color: transparent;
    border:2px solid #64ccc5;
    color: #000;
  }

  
  @media (max-width: 960px){
    .aboutMeHeading{
        font-size: 1.9rem;
    }
    .aboutLineBreak button{
        width: 3.0rem;
        height: 0.2rem;
   }

   .aboutMeDescription{
    font-size: 1.2rem;
    }

    .aboutDescriptionHeading,.aboutMeSkillsHeading{
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        font-weight: 600;
        font-size: 1.6rem;
    }

    .aboutMeSkillItem{
        padding: 0.5rem;
        border: none;
        font-size: 1rem;
    }
    .aboutDescriptionBody{
        font-size: 1rem
    }
  
  }